flow.json
[{"id":"61a8ea51.75b884","type":"tab","label":"IO Setup","disabled":false,"info":"Make the initial GPIO setup in this flow."},{"id":"1a61f052.0ac47","type":"tab","label":"LED Pwm","disabled":false,"info":""},{"id":"77813f23.0aae3","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"f767c5ad.b0d8d8"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"e800a35d.84fe2","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"c077422f.5eeff"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"36493632.a5df2a","type":"subflow","name":"Jupiter GPIO Pwm","info":"A node for writing the Jupiter Boards GPIO pins in PWM mode. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the PWM value (\"0\" to \"1023\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":100,"wires":[{"id":"a46d25af.980188"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0"}],"color":"#C0DEED","icon":"node-red/trigger.svg"},{"id":"b5b330e8.dfdcf","type":"subflow","name":"Jupiter GPIO Read","info":"A node for reading the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\nIt has to be polled with any input (even empty) to provide a result.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: triggers the flow execution.\n\nOutputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").","category":"","in":[{"x":40,"y":80,"wires":[{"id":"2e7e0872.1f3598"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"f5754cd3.8875b","port":0}]}],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"cc3d9ef9.3af3d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d6e1488.fe513c","type":"ui_group","z":"","name":"Default","tab":"cc3d9ef9.3af3d","order":1,"disp":true,"width":"6","collapse":false},{"id":"209f5fdb.066e8","type":"exec","z":"77813f23.0aae3","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"f767c5ad.b0d8d8","type":"function","z":"77813f23.0aae3","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["209f5fdb.066e8"]]},{"id":"c077422f.5eeff","type":"function","z":"e800a35d.84fe2","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["b3846909.7665f8"]]},{"id":"b3846909.7665f8","type":"exec","z":"e800a35d.84fe2","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"a46d25af.980188","type":"function","z":"36493632.a5df2a","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["b2b5ff4b.06ba6"]]},{"id":"b2b5ff4b.06ba6","type":"exec","z":"36493632.a5df2a","command":"gpio pwm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Pwm","x":510,"y":100,"wires":[[],[],[]]},{"id":"2e7e0872.1f3598","type":"function","z":"b5b330e8.dfdcf","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["f5754cd3.8875b"]]},{"id":"f5754cd3.8875b","type":"exec","z":"b5b330e8.dfdcf","command":"gpio read ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Read","x":390,"y":80,"wires":[[],[],[]]},{"id":"8122b932.629548","type":"subflow:36493632.a5df2a","z":"1a61f052.0ac47","name":"","env":[{"name":"pin","value":"12","type":"str"}],"x":710,"y":120,"wires":[]},{"id":"d9aa975a.592b78","type":"ui_slider","z":"1a61f052.0ac47","name":"","label":"slider","tooltip":"","group":"4d6e1488.fe513c","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":150,"y":120,"wires":[["b8404c5c.b1f59"]]},{"id":"b8404c5c.b1f59","type":"calculator","z":"1a61f052.0ac47","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"10.23","round":true,"decimals":0,"x":300,"y":120,"wires":[["6441d8fc.bcafd8"]]},{"id":"6a2e0a27.3602b4","type":"subflow:e800a35d.84fe2","z":"61a8ea51.75b884","name":"","env":[{"name":"pin","value":"12","type":"str"},{"name":"mode","value":"pwm","type":"str"}],"x":370,"y":100,"wires":[]},{"id":"1eb2c0b5.e4b40f","type":"inject","z":"61a8ea51.75b884","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["6a2e0a27.3602b4","907c77bd.a6e3f8"]]},{"id":"6441d8fc.bcafd8","type":"change","z":"1a61f052.0ac47","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(payload, prettify)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["8122b932.629548"]]},{"id":"907c77bd.a6e3f8","type":"subflow:e800a35d.84fe2","z":"61a8ea51.75b884","name":"","env":[{"name":"pin","value":"8","type":"str"}],"x":370,"y":160,"wires":[]},{"id":"ca93addf.26b63","type":"subflow:77813f23.0aae3","z":"61a8ea51.75b884","name":"","env":[{"name":"pin","value":"8","type":"str"}],"x":390,"y":260,"wires":[]},{"id":"ff6f55e5.d7f188","type":"inject","z":"61a8ea51.75b884","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":140,"y":220,"wires":[["ca93addf.26b63"]]},{"id":"5302daa4.208fb4","type":"inject","z":"61a8ea51.75b884","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":150,"y":300,"wires":[["ca93addf.26b63"]]}]